PartnerContacts_App/Microsoft.Flow/flows/8637cb43-9d8d-40c3-a603-0499f4463d33/definition.json
{"name":"58e9b382-6c55-437c-91bb-b5c613cd00c9","id":"/providers/Microsoft.Flow/flows/58e9b382-6c55-437c-91bb-b5c613cd00c9","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"PPMPartnerContactExportScreenReporting","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"21715095-285c-40a2-be32-e8e5be1775cc","type":"User","tenantId":"de9231de-45f4-4325-ae07-8ae72052517e"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-12-17T15:21:04.2933922Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Compose_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false}},"required":["Compose_Inputs"]}},"description":"This is triggered by the Export button on the Reporting screen in the Partner Contacts App."}},"actions":{"Create_CSV_table":{"runAfter":{"Parse_JSON_into_a_usable_format":["Succeeded"]},"type":"Table","inputs":{"from":"@body('Parse_JSON_into_a_usable_format')","format":"CSV","columns":[{"header":"ContactName","value":"@item()['Title']"},{"header":"ContactJobTitle","value":"@item()['ContactJobTitle']"},{"header":"ContactEmail","value":"@item()?['ContactEmail']"},{"header":"ContactPhone","value":"@item()?['ContactPhone']"},{"header":"ContactExtension","value":"@item()?['ContactExtension']"},{"header":"ContactDoNotEmail","value":"@item()?['ContactDoNotMail']"},{"header":"ContactType","value":"@item()?['PartnerType2']"},{"header":"Partner","value":"@item()?['Partner']"},{"header":"PartnerDesignation","value":"@item()?['PartnerDesignation']"},{"header":"ExecutiveAssistantName","value":"@item()?['ExecutiveAssistantName']"},{"header":"ExecutiveAssistantEmail","value":"@item()?['ExecutiveAssistantEmail']"},{"header":"Address1","value":"@item()?['ContactAddress1']"},{"header":"City1","value":"@item()?['ContactCity1']"},{"header":"State1","value":"@item()?['ContactState10']"},{"header":"Zip1","value":"@item()?['ContactZip1']"},{"header":"Country1","value":"@item()?['ContactCountry1']"},{"header":"Address2","value":"@item()?['ContactAddress2']"},{"header":"City2","value":"@item()?['ContactCity2']"},{"header":"State2","value":"@item()?['ContactState20']"},{"header":"Zip2","value":"@item()?['ContactZip2']"},{"header":"Country2","value":"@item()?['ContactCountry2']"},{"header":"LastModifiedOn","value":"@item()?['Modified']"},{"header":"CreatedOn","value":"@item()?['Created']"},{"header":"ContactAge","value":"@item()?['ContactAge']"}]},"description":"Puts the parsed JSON data into a CSV table"},"Delete_file":{"runAfter":{"Sends_the_created_CSV_file_as_an_Attachment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"parameters":{"dataset":"https://cdw.sharepoint.com/sites/partrel","id":"@outputs('Create_file_on_Sharepoint')?['body/Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose_-_Get_form_data_in_JSON_format":{"runAfter":{},"type":"Compose","inputs":"@triggerBody()['Compose_Inputs']","description":"Receives the data exported by the form in JSON format."},"Parse_JSON_into_a_usable_format":{"runAfter":{"Compose_-_Get_form_data_in_JSON_format":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Compose_-_Get_form_data_in_JSON_format')","schema":{"type":"array","items":{"type":"object","properties":{"CDWDesignation":{"type":"string"},"ContactAddress1":{"type":"string"},"ContactAddress2":{"type":"string"},"ContactAge":{"type":"integer"},"ContactCity1":{"type":"string"},"ContactCity2":{"type":"string"},"ContactCountry1":{"type":"string"},"ContactCountry2":{"type":"string"},"ContactDoNotMail":{"type":"boolean"},"ContactEmail":{"type":"string"},"ContactJobTitle":{"type":"string"},"ContactPhone":{"type":"string"},"ContactState10":{"type":"string"},"ContactState20":{"type":"string"},"ContactZip1":{"type":"string"},"ContactZip2":{"type":"string"},"Created":{"type":"string"},"ExecutiveAssistantEmail":{"type":"string"},"ExecutiveAssistantName":{"type":"string"},"ID":{"type":"integer"},"IsChosen":{"type":"boolean"},"Modified":{"type":"string"},"Partner":{"type":"string"},"PartnerDesignation":{"type":"string"},"PartnerType2":{"type":"string"},"Title":{"type":"string"},"{FilenameWithExtension}":{"type":"string"},"{FullPath}":{"type":"string"},"{HasAttachments}":{"type":"boolean"},"{Identifier}":{"type":"string"},"{IsFolder}":{"type":"boolean"},"{Link}":{"type":"string"},"{Name}":{"type":"string"},"{Path}":{"type":"string"},"{Thumbnail}":{"type":"object","properties":{"Large":{},"Medium":{},"Small":{}}},"{VersionNumber}":{"type":"string"},"ContactExtension":{"type":"string"}},"required":[]}}},"description":"Parse the JSON data into a format that PowerAutomate can use."},"Create_file_on_SharePoint":{"runAfter":{"Create_CSV_table":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://cdw.sharepoint.com/sites/partrel","folderPath":"/PowerPlatform Assests/PartnerContactExportFiles/ReportingExports","name":"PartnerContact_ReportingExport_@{utcnow()}.csv","body":"@body('Create_CSV_table')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Creates a '.csv' file on SharePoint at the below location","runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Sends_the_created_CSV_file_as_an_Attachment":{"runAfter":{"Create_file_on_SharePoint":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerBody()['Getuserprofile(V2)_User(UPN)']","emailMessage/Subject":"Partner Contacts Export File","emailMessage/Body":"<p>Hello,<br>\n<br>\nAttached is the Partner Contacts export that you requested.<br>\n<br>\nThank you,<br>\n<br>\nPPM Automation</p>","emailMessage/Attachments":[{"Name":"@outputs('Create_file_on_Sharepoint')?['body/DisplayName']","ContentBytes":"@body('Create_CSV_table')"}]},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"description":"This flow is triggered within the Partner Contact app, on the Reports screen"},"connectionReferences":{"shared_sharepointonline":{"connectionName":"54c7fd5099a743b397a6e05771b8b2f0","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"dce31b113c07438fbd386cd2e90ee2fa","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}